@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mina:wght@400;700&family=Noto+Sans+TC:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*css reset*/


/*標籤基本樣式*/
*,*::before,*::after{
    box-sizing: border-box;
}

.container{
    width: 1296px;
    margin: 0 auto;
}

/*文字顏色*/
:root{
    --neutral-900:#212529;
    --neutral-600:#6c757d;
    --neutral-300:#dee2e6;
    --white:#ffffff;
    --primary-400:#57a203;
    --primary-300:#c0fa73;
    --primary-200:#e8fec5;
}

body{
     font-family: "Noto Sans", sans-serif;
     letter-spacing: 0.05rem;
}
.mina-bold{
    font-family: "Mina", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 0.044rem;
}
.header{
    justify-content: space-between;
}
.bi{
    vertical-align: bottom;
}
a{
    text-decoration: none;
    color: var(--neutral-900);    
}
a:hover{
    color: var(--primary-400);

}
.neutral-900{
    color: var(--neutral-900);
}
.neutral-600{
    color: var(--neutral-600);

}
.neutral-300{
    color: var(--neutral-300);
}
.product-list{
    width: 196px;
}
.product-list a{
    display: block;
}
.card{
    justify-content: space-between;
}
.card-list{
    width: 1076px;
    margin-top: -8px;
}
.card-list li{
    list-style-type: none;
}
.card-item{
    width: 30%;
}
img{  
    max-width: 100%;   
}
.page{
    max-width: 336px;
    margin-left: 370px;
}
.page li{
    list-style-type: none;
}
.page a:hover{
    background-color:var(--primary-300)
}
.discount{
    background-color: var(--primary-200);
    padding-top: 33.5px;
    padding-bottom: 33.5px;
    padding-left: 600px;
}
.discount a{
    color: #ffffff;
    background-color: var(--neutral-900);
    padding: 12px 24px;
    border-radius: 3px;
}
.footer{
    max-width: 1296px;
    margin: 0 auto;
    justify-content: space-between;
}
.copyright{
    max-width: 1296px;
    color: var(--neutral-600);
    margin: 0 auto;
    text-align: center;
    border-top: 1px solid #dee2e6;
}
/*字體樣式*/
h3{
    font-size: 28px;
    font-weight: 700;
    line-height: 1.2;
}
h4{
    font-size: 24px;
    font-weight: 700;
    line-height: 1.2;
}
h6{
    font-size: 16px;
    font-weight: 700;
    line-height: 1.2;
}
.text-md{
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
}
.text-sm{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
}
/*推擠*/
.pb-32{
    padding-bottom: 32px;
}
.pb-48{
    padding-bottom: 48px;
}
.pb-20{
    padding-bottom: 20px;
}
.pb-8{
    padding-bottom: 8px;
}
.mb-64{
    margin-bottom: 64px;
}
.mb-32{
    margin-bottom: 32px;
}
.mb-48{
    margin-bottom: 48px;
}
.mb-28{
    margin-bottom: 28px;
}
.mb-24{
    margin-bottom: 24px;
}
.mb-20{
    margin-bottom: 20px;
}
.mb-12{
    margin-bottom: 12px;
}
.mb-4{
    margin-bottom: 4px;
}
.pr-48{
    padding-right: 48px;
}
.pr-40{
    padding-right: 40px;
}
.pr-24{
    padding-right: 24px;
}
.pr-12{
    padding-right: 12px;
}
.pl-12{
    padding-left: 12px;
}
.pt-32{
    padding-top: 32px;
}
.pt-16{
    padding-top: 16px;
}
.p-8-15{
    padding: 8px 15px;
}
.p-8-12{
    padding: 8px 12px;
}
.p-8-10{
    padding: 8px 10px;
}

.p-10{
    padding: 10px;
}
.p-12{
    padding: 12px 0;
}
.mr-24{
    margin-right: 24px;
}
.mr-12{
    margin-right: 12px;
}
.mr-8{
    margin-right: 8px;
}
.ml--40{
    margin-left: -40px;
}
.ml-24{
    margin-left: 24px;
}

/*df*/
.d-flex{
    display: flex;
}
/*fw*/
.fw{
    flex-wrap: wrap
}
/*下方框框背景顏色*/
.bg-primary-200{var(--primary-200);}
/*footer背景顏色*/
.bg-neutral-300{var(--neutral-300);}

